<?xml version='1.0' encoding='utf-8'?>
<widget id="com.chaosscape.sketchpadcalc" version="0.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Sketchpad Calculator</name>
    <description>Work with numbers on your phone like you do with pencil and paper.</description>
    <author email="chrisbroski@gmail.com" href="http://www.chaosscape.com">Chris Broski</author>
    <icon density="mdpi" src="www/img/icon-mdpi.png" />
    <icon density="hdpi" src="www/img/icon.png" />
    <icon density="xhdpi" src="www/img/icon-xhdpi.png" />
    <content src="index.html" />
    <access launch-external="true" origin="file:*" />
    <platform name="android">
        <preference name="orientation" value="portrait" />
    </platform>
    <platform name="ios">
        <icon height="180" src="www/img/icon-180.png" width="180" />
        <icon height="60" src="www/img/icon-60.png" width="60" />
        <icon height="120" src="www/img/icon-120.png" width="120" />
        <icon height="76" src="www/img/icon-76.png" width="76" />
        <icon height="152" src="www/img/icon-152.png" width="152" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <engine name="ios" spec="~4.5.4" />
    <engine name="android" spec="^7.0.0" />
</widget>
